# TP2 - DB Normalization and Querying

The objectives of this TP are:
1. Apply normalization 1NF -> 2NF -> 3NF
2. Perform SQL queries on the normalized database

In this TP, we will use a database **`wine.db`** (available in the course's website) containing wine information related to 'production' and 'sales'. 

> Production <---> Wine <---> Sales


---

### Working with db files in Jupyter
- Python provides an interface for SQLite through the *sqlite3* module
- The **`%%sql`** magic builds upon it (and other tools) to enable the usage of SQL commands within a Jupyter Notebook as in common SQL clients.
- Before proceeding, make sure that **`wine.db`** is in the same path as this notebook.
  - If **`wine.db`** is not in the same path, an empty **`wine.db`** file will be created, resulting in errors in later steps of the TP.
- The SQLite module in Python commits transactions automatically, this means that any change in the DB is immediately written to the file, e.g. creating/deleting tables.
  -  For this reason, it is recommended to have a backup of **`wine.db`** as it is provided in the course's website.

---

**`wine.db`** contains the following unnormalized tables:

<center>**Master1**</center>

|*Attribute*|         *Description*          |
| -------   |--------------------------------|
| NV        | Wine number                    |
| CRU       | Vineyard or group of vineyards |
| DEGRE     | Alcohol content                |
| MILL      | Vintage year                   |
| QTE       | Number of bottles harvested    |
| NP        | Producer number                |
| NOM       | Producer's last name           |
| PRENOM    | Producer's first name          |
| REGION    | Production region              |

From wikipedia:

__Cru__: Often used to indicate a specifically named and legally defined vineyard or ensemble of vineyards and the vines "which grow on [such] a reputed terroir; by extension of good quality." The term is also used to refer to the wine produced from such vines.


<center>**Master2**</center>

|*Attribute*|                         *Description*                  |
| -------   |--------------------------------------------------------|
| NV        | Wine number                                            |
| CRU       | Vineyard or group of vineyards                         |
| DEGRE     | Alcohol content                                        |
| MILL      | Vintage year                                           |
| DATES     | Buying date                                            |
| LIEU      | Place where the wine was sold                          |
| QTE       | Number of bottles bought                               |
| NB        | Client (buveur) number                                 |
| NOM       | Client's last name                                     |
| PRENOM    | Client's first name                                    |
| TYPE      | Type of client by volume of purchases                  |
| REGION    | Administrative Region (different to production region) |

In [10]:
import sqlite3    # Python interface for SQLite databases

In [11]:
def printSchema(connection):
    # Function to print the DB schema
    # Source: http://stackoverflow.com/a/35092773/4765776
    for (tableName,) in connection.execute(
        """
        select NAME from SQLITE_MASTER where TYPE='table' order by NAME;
        """
    ):
        print("{}:".format(tableName))
        for (
            columnID, columnName, columnType,
            columnNotNull, columnDefault, columnPK,
        ) in connection.execute("pragma table_info('{}');".format(tableName)):
            print("  {id}: {name}({type}){null}{default}{pk}".format(
                id=columnID,
                name=columnName,
                type=columnType,
                null=" not null" if columnNotNull else "",
                default=" [{}]".format(columnDefault) if columnDefault else "",
                pk=" *{}".format(columnPK) if columnPK else "",
            ))

In [12]:
conn = sqlite3.connect('wine.db')
c = conn.cursor()
print("Database schema:")
printSchema(conn)           # An usefull way to viualize the content of the database

Database schema:
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(DATE)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)
clients:
  0: NB(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: TYPE(TEXT)
producers:
  0: NP(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: REGION(TEXT)
production:
  0: NP(NUM)
  1: NV(NUM)
  2: QTE(NUM)
sales:
  0: NV(NUM)
  1: DATES(NUM)
  2: LIEU(TEXT)
  3: QTE(NUM)
  4: NB(NUM)
villes:
  0: LIEU(TEXT)
  1: REGION(TEXT)
wines:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)

From this point we will use __%%sql__ magic

In [13]:
%load_ext sql
%sql sqlite:///wine.db

'Connected: @wine.db'

# PART I: Database normalization

The first task on this TP is the normalization of the wine data. In its current state both tables **Master1** and **Master2** are in the First Normal Form (1NF).

By inspecting the content of these tables we can see that multiple tuples have NULL values.

In [14]:
%%sql SELECT *
FROM Master1 ORDER BY NV;

 * sqlite:///wine.db
Done.

[(None, None, None, None, None, 3, 'Six', 'Paul', 'Alsace'),
 (None, None, None, None, None, 6, 'Marmagne', 'Bernard', 'Bourgogne'),
 (None, None, None, None, None, 8, "Lioger d'Harduy", 'Gabriel', 'Bourgogne'),
 (None, None, None, None, None, 16, 'Barbin', 'Bernard', 'Bourgogne'),
 (None, None, None, None, None, 17, 'Faiveley', 'Guy', 'Bourgogne'),
 (None, None, None, None, None, 18, 'Tramier', 'Jean', 'Bourgogne'),
 (None, None, None, None, None, 19, 'Dupaquier', 'Roger', 'Bourgogne'),
 (None, None, None, None, None, 20, 'Lamy', 'Jean', 'Bourgogne'),
 (None, None, None, None, None, 21, 'Cornu', 'Edmond', 'Bourgogne'),
 (None, None, None, None, None, 26, 'Violot', 'Gilbert', 'Bourgogne'),
 (None, None, None, None, None, 28, 'Monnier', 'Rene', 'Bourgogne'),
 (None, None, None, None, None, 29, 'de Suremain', 'Robert', 'Bourgogne'),
 (None, None, None, None, None, 31, 'Prudhon', 'Henri', 'Bourgogne'),
 (None, None, None, None, None, 32, 'Mestre', 'Philippe', 'Bourgogne'),
 (None, None, None, None, None, 33, 'Prieur', 'Guy', 'Bourgogne'),
 (None, None, None, None, None, 34, 'Monnier', 'Rene', 'Bourgogne'),
 (None, None, None, None, None, 37, 'Delagrange Bachelet', None, 'Bourgogne'),
 (None, None, None, None, None, 39, 'de Suremin', 'Hugues', 'Bourgogne'),
 (None, None, None, None, None, 41, 'Juillot', 'Michel', 'Bourgogne'),
 (None, None, None, None, None, 44, 'Feyveley', None, 'Bourgogne'),
 (None, None, None, None, None, 47, 'Thenard', None, 'Bourgogne'),
 (None, None, None, None, None, 48, 'Flamand', None, 'Bourgogne'),
 (None, None, None, None, None, 49, 'Guillot', 'Pierre', 'Bourgogne'),
 (None, None, None, None, None, 51, 'Simonet', 'Leon', 'Bourgogne'),
 (None, None, None, None, None, 53, 'Cooperative', None, 'Bourgogne'),
 (None, None, None, None, None, 57, 'Desmules', 'Pierre', 'Beaujolais'),
 (None, None, None, None, None, 58, 'Joubert', 'Claude', 'Beaujolais'),
 (None, None, None, None, None, 61, 'Champier', 'Charles', 'Beaujolais'),
 (None, None, None, None, None, 62, 'Champagnon', 'Louis', 'Beaujolais'),
 (None, None, None, None, None, 66, 'Cooperative', None, 'Beaujolais'),
 (None, None, None, None, None, 77, 'Tissot', 'Andre', 'Jura'),
 (None, None, None, None, None, 83, 'Goy', None, 'Jura'),
 (None, None, None, None, None, 91, 'Chave', 'Gerard', 'Rhone'),
 (None, None, None, None, None, 92, 'De Boissieu', None, 'Rhone'),
 (None, None, None, None, None, 94, 'Grippat', 'Jean Louis', 'Rhone'),
 (None, None, None, None, None, 96, 'Boisson', 'Jean Pierre', 'Rhone'),
 (None, None, None, None, None, 97, 'Quiot', 'Pierre', 'Rhone'),
 (None, None, None, None, None, 100, 'Bernard', 'Georges', 'Rhone'),
 (None, None, None, None, None, 101, 'Verdan', 'Antoine', 'Rhone'),
 (None, None, None, None, None, 102, 'Cooperative', None, 'Rhone'),
 (None, None, None, None, None, 103, 'Coulouvrat', 'Michel', 'Rhone'),
 (None, None, None, None, None, 104, 'Rabasse Chavarin', 'Abel', 'Rhone'),
 (None, None, None, None, None, 105, 'Roux', 'Charles', 'Rhone'),
 (None, None, None, None, None, 106, 'Alary', None, 'Rhone'),
 (None, None, None, None, None, 108, 'Archimbaud', 'Jean', 'Rhone'),
 (None, None, None, None, None, 109, 'Rey', 'Marcel', 'Rhone'),
 (None, None, None, None, None, 110, 'Cooperative', None, 'Rhone'),
 (None, None, None, None, None, 111, 'Zafiropulo', 'Costa', 'Provence'),
 (None, None, None, None, None, 112, 'Prebost', 'Gaston', 'Provence'),
 (None, None, None, None, None, 113, 'Gomez', 'Rene', 'Provence'),
 (None, None, None, None, None, 114, 'Brunet', 'Georges', 'Provence'),
 (None, None, None, None, None, 115, 'Bordonado', 'Raymond', 'Provence'),
 (None, None, None, None, None, 116, 'Imbert', 'Christian', 'Corse'),
 (None, None, None, None, None, 117, 'Cooperative', None, 'Languedoc'),
 (None, None, None, None, None, 118, 'Cooperative', None, 'Languedoc'),
 (None, None, None, None, None, 119, 'Cooperative', None, 'Pyrenees'),
 (None, None, None, None, None, 121, 'Cooperative', None, 'Pyrenees'),
 (None, None, None, None, None, 122, 'Dupuy', 'Charles', 'Pyrenees'),
 (None, None, None, None, None, 123, 'Laurent', 'Pierre', 'Pyrenees'),
 (None, None, None, None, None, 124, 'Daurat Fort', 'Robert', 'Pyrenees'),
 (None, None, None, None, None, 125, 'Baldes', 'Jean', 'Sud'),
 (None, None, None, None, None, 126, 'Jouffreau', 'Jean', 'Sud'),
 (None, None, None, None, None, 127, 'Brumont', 'Alban', 'Sud'),
 (None, None, None, None, None, 129, 'Barrere', 'Alfred', 'Sud'),
 (1, 'Mercurey', 11.5, 1980, 300, 1, 'Bohn', 'Rene', 'Alsace'),
 (1, 'Mercurey', 11.5, 1980, 1, 73, 'Bourguignon', 'Emile', 'Jura'),
 (2, 'Julienas', 11.3, 1974, 100, 5, 'Joudeat', 'Lucien', 'Bourgogne'),
 (3, 'Savigny les Beaunes', 12.1, 1978, 400, 1, 'Bohn', 'Rene', 'Alsace'),
 (4, 'Mercurey', 10.9, 1980, 35, 10, 'Fournier', 'Jean Claude', 'Bourgogne'),
 (5, 'Pommard', 11.7, 1976, 46, 30, 'Desbois', 'Maurice', 'Bourgogne'),
 (6, 'Mercurey', 11.2, 1981, 300, 42, 'Juillot', 'Maurice', 'Bourgogne'),
 (7, 'Grands Echezeaux', 11.7, 1968, 60, 98, 'Berard', None, 'Rhone'),
 (8, 'Cotes de Beaune Villages', 12.3, 1975, 12, 90, 'Roure', 'Raymond', 'Rhone'),
 (9, 'Chapelle Chambertin', 11.9, 1973, None, None, None, None, None),
 (10, 'Beaujolais Villages', 11.8, 1979, 100, 98, 'Berard', None, 'Rhone'),
 (11, 'Sylvaner', 11.2, 1982, 200, 5, 'Joudeat', 'Lucien', 'Bourgogne'),
 (12, 'Gentil', 10.7, 1975, 31, 7, 'Lasnier', 'Pierre', 'Bourgogne'),
 (12, 'Gentil', 10.7, 1975, 200, 43, 'Menand', 'Jean Claude', 'Bourgogne'),
 (12, 'Gentil', 10.7, 1975, 310, 89, 'Michelas', 'Robert', 'Rhone'),
 (13, 'Cotes du Rhone', 12.3, 1968, 13, 13, 'Grivot', 'Jean', 'Bourgogne'),
 (14, 'Chateau Chalon', 10.9, 1978, 180, 86, 'Dumazet', 'Marc', 'Rhone'),
 (15, 'Cote de Brouilly', 11.9, 1973, 290, 80, 'Devaux', 'Jean Paul', 'Jura'),
 (16, 'Meursault', 12.1, 1980, 100, 38, 'de Launay', 'Paul', 'Bourgogne'),
 (17, 'Meursault', 11.4, 1975, 50, 95, 'Verset', 'Louis', 'Rhone'),
 (18, 'Chambolle Musigny', 12.3, 1968, 120, 40, 'Genelot', 'Maurice', 'Bourgogne'),
 (19, 'Clos du roi', 11.2, 1972, 986, 7, 'Lasnier', 'Pierre', 'Bourgogne'),
 (20, 'Cote de Brouilly', 12.1, 1980, 100, 50, 'Chagny', 'Georges', 'Bourgogne'),
 (21, 'Cotes de Nuits', None, 1978, 150, 5, 'Joudeat', 'Lucien', 'Bourgogne'),
 (22, 'Savigny les Beaunes', None, 1974, 50, 86, 'Dumazet', 'Marc', 'Rhone'),
 (23, 'Pommard', None, 1972, 15, 86, 'Dumazet', 'Marc', 'Rhone'),
 (24, 'Cotes de Beaune Villages', 12.1, 1971, 859, 36, 'Sauzet', 'Etienne', 'Bourgogne'),
 (25, 'Chapelle Chambertin', 10.5, 1968, 40, 95, 'Verset', 'Louis', 'Rhone'),
 (26, 'Chateau Corton Grancey', None, 1980, 70, 43, 'Menand', 'Jean Claude', 'Bourgogne'),
 (27, 'Puligny Montrachet', 11, 1974, 60, 99, 'Cooperative', None, 'Rhone'),
 (28, 'Volnay', 11, 1980, 10, 50, 'Chagny', 'Georges', 'Bourgogne'),
 (29, 'Corton', 11.6, 1972, 50, 50, 'Chagny', 'Georges', 'Bourgogne'),
 (30, 'Bourgogne Passe Tout Grains', 12, 1979, 350, 22, 'Dubreuil Fontaine', 'Pierre', 'Bourgogne'),
 (31, 'Monthelie', 11.4, 1968, 320, 50, 'Chagny', 'Georges', 'Bourgogne'),
 (32, 'Pouilly Vinzelles', 12.3, 1968, 500, 9, 'Moniot', 'Gilbert', 'Bourgogne'),
 (32, 'Pouilly Vinzelles', 12.3, 1968, 890, 72, 'Reverchon', 'Joseph', 'Jura'),
 (33, 'Santenay', 12, 1972, 70, 60, 'Vernus', 'Georges', 'Beaujolais'),
 (34, 'Montagny', 11.2, 1978, None, 4, 'Stentz', 'Fernand', 'Alsace'),
 (35, 'Auxey Duresses', 11.3, 1914, 900, 10, 'Fournier', 'Jean Claude', 'Bourgogne'),
 (35, 'Auxey Duresses', 11.3, 1914, 350, 23, 'Laleure', None, 'Bourgogne'),
 (36, 'Chorey les Beaunes', 11, 1955, 50, 93, 'Marsanne', 'Jean', 'Rhone'),
 (37, 'Savigny les Beaunes', 10, 1978, 830, 54, 'Cooperative', None, 'Bourgogne'),
 (38, 'Savigny les Beaunes', 11, 1977, 125, 52, 'Lapierre', 'Jean', 'Bourgogne'),
 (39, 'Savigny les Beaunes', None, 1973, 80, 52, 'Lapierre', 'Jean', 'Bourgogne'),
 (40, 'Richebourg', 12, 1943, 90, None, None, None, None),
 (41, 'Clairette de Die', 12, 1976, 25, 76, 'Maire', 'Henri', 'Jura'),
 (42, 'Beaujolais Primeur', 12, 1983, 80, 82, 'Mollex', 'Georges', 'Savoie'),
 (43, 'Fleurie', 11.4, 1980, 500, 13, 'Grivot', 'Jean', 'Bourgogne'),
 (43, 'Fleurie', 11.4, 1980, 900, 72, 'Reverchon', 'Joseph', 'Jura'),
 (43, 'Fleurie', 11.4, 1980, 983, 85, 'Champet', 'Emile', 'Rhone'),
 (44, 'Moulin a vent', None, 1983, 40, 93, 'Marsanne', 'Jean', 'Rhone'),
 (45, 'Chiroubles', None, 1983, 90, 2, 'Boxler', 'Albert', 'Alsace'),
 (45, 'Chiroubles', None, 1983, 912, 67, 'Descombes', 'Jean Ernest', 'Beaujolais'),
 (45, 'Chiroubles', None, 1983, 98, 71, 'Chalandard', 'Danile', 'Jura'),
 (45, 'Chiroubles', None, 1983, 540, 78, 'Michlel', 'Pierre Emile', 'Jura'),
 (45, 'Chiroubles', None, 1983, 450, 86, 'Dumazet', 'Marc', 'Rhone'),
 (46, 'Chiroubles', 11, 1983, 760, 64, 'Marius Bel Air', 'Morin', 'Beaujolais'),
 (47, 'Chiroubles', 11, 1978, 75, 52, 'Lapierre', 'Jean', 'Bourgogne'),
 (48, 'Cote de Brouilly', 12, 1899, 70, 93, 'Marsanne', 'Jean', 'Rhone'),
 (49, 'Morgon', 12, 1984, 150, 2, 'Boxler', 'Albert', 'Alsace'),
 (50, 'Chenas', 11.5, 1984, 100, 2, 'Boxler', 'Albert', 'Alsace'),
 (51, 'Chenas', 10, 1975, 36, 15, 'Drouhin', 'Joseph', 'Bourgogne'),
 (52, 'Brouilly', None, 1975, 500, 40, 'Genelot', 'Maurice', 'Bourgogne'),
 (53, 'Beaujolais Villages', None, 1975, 800, 40, 'Genelot', 'Maurice', 'Bourgogne'),
 (54, 'Beaujolais Villages', 10.5, 1976, 500, 1, 'Bohn', 'Rene', 'Alsace'),
 (54, 'Beaujolais Villages', 10.5, 1976, 900, 2, 'Boxler', 'Albert', 'Alsace'),
 (54, 'Beaujolais Villages', 10.5, 1976, 500, 14, 'Jayer', 'Henri', 'Bourgogne'),
 (54, 'Beaujolais Villages', 10.5, 1976, 210, None, None, None, None),
 (55, 'Beaujolais Villages', 12.1, 1978, 450, 14, 'Jayer', 'Henri', 'Bourgogne'),
 (56, 'Saint Amour', None, 1974, 790, 24, 'Guillemot', 'Pierre', 'Bourgogne'),
 (57, 'Crozes Hermitage', 12.1, 1974, 940, 40, 'Genelot', 'Maurice', 'Bourgogne'),
 (58, 'Crozes Hermitage', 12.5, 1975, 70, 45, 'Jeannin', 'Andre', 'Bourgogne'),
 (59, 'Crozes - Hermitage', 12.3, 1972, 160, 45, 'Jeannin', 'Andre', 'Bourgogne'),
 (60, 'Crozes-Hermitage', 11, 1983, 300, 50, 'Chagny', 'Georges', 'Bourgogne'),
 (60, 'Crozes-Hermitage', 11, 1983, 60, 60, 'Vernus', 'Georges', 'Beaujolais'),
 (61, 'Hermitage', 12, 1979, 120, 90, 'Roure', 'Raymond', 'Rhone'),
 (62, 'Gigondas', 11, 1978, 900, 60, 'Vernus', 'Georges', 'Beaujolais'),
 (63, 'Coteaux du Tricastin', 10, 1978, 136, None, None, None, None),
 (64, 'Coteaux du Tricastin', 11, 1974, 870, 72, 'Reverchon', 'Joseph', 'Jura'),
 (64, 'Coteaux du Tricastin', 11, 1974, 980, 85, 'Champet', 'Emile', 'Rhone'),
 (65, 'Rochgrande', 10.8, 1968, 10, 12, 'Tortochot', 'Gabriel', 'Bourgogne'),
 (65, 'Rochgrande', 10.8, 1968, 560, 25, 'Valentin Bouchotte', 'Roger', 'Bourgogne'),
 (66, 'Tavel', 11, 1968, 124, None, None, None, None),
 (67, 'Gewurztraminer', 12.5, 1968, 125, 5, 'Joudeat', 'Lucien', 'Bourgogne'),
 (67, 'Gewurztraminer', 12.5, 1968, 890, 10, 'Fournier', 'Jean Claude', 'Bourgogne'),
 (67, 'Gewurztraminer', 12.5, 1968, 760, 82, 'Mollex', 'Georges', 'Savoie'),
 (68, 'Riesling', 14, 1962, None, 12, 'Tortochot', 'Gabriel', 'Bourgogne'),
 (69, "Tokay d'Alsace", 11, 1982, 96, 9, 'Moniot', 'Gilbert', 'Bourgogne'),
 (69, "Tokay d'Alsace", 11, 1982, 320, 12, 'Tortochot', 'Gabriel', 'Bourgogne'),
 (69, "Tokay d'Alsace", 11, 1982, 690, 69, 'Janin', 'Marcel', 'Beaujolais'),
 (70, 'Sylvaner', 11, 1982, 120, 38, 'de Launay', 'Paul', 'Bourgogne'),
 (71, 'Palette', 11, 1981, 132, 38, 'de Launay', 'Paul', 'Bourgogne'),
 (72, 'Cassis', 10, 1978, 34, 52, 'Lapierre', 'Jean', 'Bourgogne'),
 (73, 'Bellet', 11, 1976, 45, 38, 'de Launay', 'Paul', 'Bourgogne'),
 (74, 'Arbois', 12, 1980, 650, 70, 'Trichard', 'Benoit', 'Beaujolais'),
 (74, 'Arbois', 12, 1980, 850, 72, 'Reverchon', 'Joseph', 'Jura'),
 (74, 'Arbois', 12, 1980, 675, 84, 'Metral', 'Jean', 'Jura'),
 (75, 'Arbois', 11, 1976, 69, 38, 'de Launay', 'Paul', 'Bourgogne'),
 (76, 'Chateau Chalon', 12, 1976, 100, 46, 'Monassier', 'Armand', 'Bourgogne'),
 (76, 'Chateau Chalon', 12, 1976, 900, 85, 'Champet', 'Emile', 'Rhone'),
 (77, 'Etoile', 11, 1979, 100, 85, 'Champet', 'Emile', 'Rhone'),
 (78, 'Etoile', 12, 1980, 300, 4, 'Stentz', 'Fernand', 'Alsace'),
 (78, 'Etoile', 12, 1980, 360, 27, 'Glantenay', 'Louis', 'Bourgogne'),
 (78, 'Etoile', 12, 1980, 900, 30, 'Desbois', 'Maurice', 'Bourgogne'),
 (78, 'Etoile', 12, 1980, 980, 68, 'Savoye', 'Louis', 'Beaujolais'),
 (78, 'Etoile', 12, 1980, 970, 80, 'Devaux', 'Jean Paul', 'Jura'),
 (79, 'Seyssel', 11, 1980, 100, 74, 'Grand', 'Rene', 'Jura'),
 (79, 'Seyssel', 11, 1980, 79, 79, 'Petit', 'Gerard', 'Jura'),
 (79, 'Seyssel', 11, 1980, 800, 81, 'Peltier', 'Pierre', 'Jura'),
 (80, 'Seyssel', 11, 1980, 79, 90, 'Roure', 'Raymond', 'Rhone'),
 (81, 'Cornas', 11.1, 1980, 24, 90, 'Roure', 'Raymond', 'Rhone'),
 (82, 'Cornas', 11, 1980, 100, 43, 'Menand', 'Jean Claude', 'Bourgogne'),
 (82, 'Cornas', 11, 1980, 800, 80, 'Devaux', 'Jean Paul', 'Jura'),
 (83, 'Saint Amour', 10, 1980, 423, 95, 'Verset', 'Louis', 'Rhone'),
 (84, 'Rasteau', 10, 1980, 146, 95, 'Verset', 'Louis', 'Rhone'),
 (85, 'Tavel', 11, 1980, 46, 55, 'Michon', None, 'Beaujolais'),
 (86, 'Tavel', 11, 1980, 500, 93, 'Marsanne', 'Jean', 'Rhone'),
 (87, 'Cotes de Provence', None, 1980, 630, 38, 'de Launay', 'Paul', 'Bourgogne'),
 (87, 'Cotes de Provence', None, 1980, 680, 45, 'Jeannin', 'Andre', 'Bourgogne'),
 (87, 'Cotes de Provence', None, 1980, 900, 72, 'Reverchon', 'Joseph', 'Jura'),
 (88, 'Cotes de Provence', 10, 1976, 129, 55, 'Michon', None, 'Beaujolais'),
 (89, 'Cotes de Provence', 11, 1969, 150, 15, 'Drouhin', 'Joseph', 'Bourgogne'),
 (89, 'Cotes de Provence', 11, 1969, 980, 42, 'Juillot', 'Maurice', 'Bourgogne'),
 (89, 'Cotes de Provence', 11, 1969, 723, 55, 'Michon', None, 'Beaujolais'),
 (89, 'Cotes de Provence', 11, 1969, 980, None, None, None, None),
 (89, 'Cotes de Provence', 11, 1969, 100, 89, 'Michelas', 'Robert', 'Rhone'),
 (90, 'Palette', 11, 1969, 900, 56, 'Coutelle', 'Jean', 'Beaujolais'),
 (90, 'Palette', 11, 1969, 40, 95, 'Verset', 'Louis', 'Rhone'),
 (91, 'Cassis', 11, 1979, 24, 79, 'Petit', 'Gerard', 'Jura'),
 (92, 'Coteaux de Pierevert', None, 1967, 900, 11, 'Clerget', 'Anne', 'Bourgogne'),
 (93, 'Blanquette de Limoux', None, 1978, 110, 79, 'Petit', 'Gerard', 'Jura'),
 (94, 'Cotes du Rousillon', None, 1978, 500, 11, 'Clerget', 'Anne', 'Bourgogne'),
 (94, 'Cotes du Rousillon', None, 1978, 180, 27, 'Glantenay', 'Louis', 'Bourgogne'),
 (95, 'Cotes du Rousillon', 12, 1978, 900, 95, 'Verset', 'Louis', 'Rhone'),
 (96, 'Saint Chinian', 11, 1976, 370, 59, 'La Thuilliere', 'Jean', 'Beaujolais'),
 (97, 'Saint Chinian', 11, 1976, 101, 70, 'Trichard', 'Benoit', 'Beaujolais'),
 (98, 'Corbieres', 10, 1978, 986, 24, 'Guillemot', 'Pierre', 'Bourgogne'),
 (98, 'Corbieres', 10, 1978, 400, 35, 'Roulot', 'Guy', 'Bourgogne'),
 (98, 'Corbieres', 10, 1978, 150, 75, 'Loye', 'Camille', 'Jura'),
 (98, 'Corbieres', 10, 1978, 890, 76, 'Maire', 'Henri', 'Jura'),
 (98, 'Corbieres', 10, 1978, 340, 88, 'Begot', 'Albert', 'Rhone'),
 (99, 'Cote Rotie', 13, 1994, 100, 5, 'Joudeat', 'Lucien', 'Bourgogne'),
 (99, 'Cote Rotie', 13, 1994, 199, 99, 'Cooperative', None, 'Rhone'),
 (100, 'Seyssel', 11, 1974, 100, 25, 'Valentin Bouchotte', 'Roger', 'Bourgogne'),
 (101, 'Saint Veran', 12.5, 1973, 213, 70, 'Trichard', 'Benoit', 'Beaujolais'),
 (107, 'Sancerre', 14, 1998, 7000, 107, 'Meunier', 'Laurent', 'Rhone')]

* Notice that Jupyter *displays* 'None' instead of 'NULL'. 
  - This is only to comply with python notation.
* To account for NULL values, your SQL queries must test explicitly for 'NULL'.

Another problem in **Master1** and **Master2** is data redundancy, for example:

In [15]:
%%sql SELECT *
FROM Master1
WHERE NV = 45;

 * sqlite:///wine.db
Done.

[(45, 'Chiroubles', None, 1983, 90, 2, 'Boxler', 'Albert', 'Alsace'),
 (45, 'Chiroubles', None, 1983, 912, 67, 'Descombes', 'Jean Ernest', 'Beaujolais'),
 (45, 'Chiroubles', None, 1983, 98, 71, 'Chalandard', 'Danile', 'Jura'),
 (45, 'Chiroubles', None, 1983, 540, 78, 'Michlel', 'Pierre Emile', 'Jura'),
 (45, 'Chiroubles', None, 1983, 450, 86, 'Dumazet', 'Marc', 'Rhone')]

---

Additional resource for Normalization:

https://www.youtube.com/watch?v=UrYLYV7WSHM

---

#### Exercise 1.1

Convert table **Master1** to the Second Normal Form (2NF) or Third Normal Form (3NF) as applicable.
* Explain your answer
* List main functional dependencies (not all of them)
* Describe the schema of new tables and how they relate
  * You can write Tables as above or you can insert images in the notebook.
  
Remember that **`wine.db`** contains information related to wine 'production' and 'sells'.

> Production <---> Wine <---> Sales

A good start point is to look for the 'Wine' attributes.

**Hint:** Look for redundant information between the master tables.

In [16]:
%%sql SELECT *
FROM Master1
where NP is NULL;

 * sqlite:///wine.db
Done.

[(9, 'Chapelle Chambertin', 11.9, 1973, None, None, None, None, None),
 (40, 'Richebourg', 12, 1943, 90, None, None, None, None),
 (54, 'Beaujolais Villages', 10.5, 1976, 210, None, None, None, None),
 (63, 'Coteaux du Tricastin', 10, 1978, 136, None, None, None, None),
 (66, 'Tavel', 11, 1968, 124, None, None, None, None),
 (89, 'Cotes de Provence', 11, 1969, 980, None, None, None, None)]

Separate in 3 tables as 
wines: NV, CRU, DEGRE, MILL
producers: NP, NOM, PRENOM, REGION
production: NV, NP, QTE

NV implying the other wine attributes (functional dependencies),
NP implying the producer attributes
but each producer can have produced several wines (eg 1 -> 1,3,54) in different quantities
and each wine may have been produces by several producers in different quantities

In [17]:
%%sql SELECT DISTINCT COUNT(NP)
FROM Master1
where NP is NOT NULL;

 * sqlite:///wine.db
Done.

[(204,)]

#### Exercise 1.2

Convert table **Master2** to the Second Normal Form (2NF) or Third Normal Form (3NF) as applicable.
* Explain your answer
* List main functional dependencies (not all of them)
* Describe the schema of new tables and how they relate
  * You can write Tables as above or you can insert images in the notebook.

**Note:** For this part, consider that a wine can be bought in multiple locations and multiple times per day.

In [18]:
%%sql SELECT *
FROM Master2
WHERE LIEU IS NOT NULL
ORDER BY REGION, LIEU
LIMIT 40;

 * sqlite:///wine.db
Done.

[(2, 'Julienas', 11.3, 1974, '1983-12-25', 'LYON', 2, 48, 'Hardy', 'Thomas', 'moyen', '  AUVERGNE-RHÔNE-ALPES'),
 (9, 'Chapelle Chambertin', 11.9, 1973, '1982-03-26', 'LYON', 20, 5, 'Audiberti', 'Jacques', 'petit', '  AUVERGNE-RHÔNE-ALPES'),
 (10, 'Beaujolais Villages', 11.8, 1979, '1983-06-06', 'LYON', 10, 5, 'Audiberti', 'Jacques', 'petit', '  AUVERGNE-RHÔNE-ALPES'),
 (31, 'Monthelie', 11.4, 1968, '1984-12-31', 'LYON', 6, 26, 'Diderot', 'Denis', 'moyen', '  AUVERGNE-RHÔNE-ALPES'),
 (31, 'Monthelie', 11.4, 1968, '1978-12-25', 'LYON', 100, 28, 'Dostoievsky', 'Fiodor', 'gros', '  AUVERGNE-RHÔNE-ALPES'),
 (35, 'Auxey Duresses', 11.3, 1914, '1981-12-25', 'LYON', 80, 30, 'La Fontaine', 'Jean de', 'petit', '  AUVERGNE-RHÔNE-ALPES'),
 (10, 'Beaujolais Villages', 11.8, 1979, '1982-10-30', 'CHALON SUR SAONE', 500, 2, 'Artaud', 'Antonin', 'moyen', ' BOURGOGNE-FRANCHE-COMTÉ'),
 (40, 'Richebourg', 12, 1943, '1982-04-02', 'DIJON', 25, 17, 'Camus', 'Albert', 'petit', ' BOURGOGNE-FRANCHE-COMTÉ'),
 (40, 'Richebourg', 12, 1943, '1980-12-31', 'DIJON', 12, 19, 'Ciceron', None, 'gros', ' BOURGOGNE-FRANCHE-COMTÉ'),
 (3, 'Savigny les Beaunes', 12.1, 1978, '1987-12-24', 'MERCUREY', 5, 49, 'Kafka', 'Franz', 'petit', ' BOURGOGNE-FRANCHE-COMTÉ'),
 (5, 'Pommard', 11.7, 1976, '1984-11-04', 'MERCUREY', 50, 2, 'Artaud', 'Antonin', 'moyen', ' BOURGOGNE-FRANCHE-COMTÉ'),
 (22, 'Savigny les Beaunes', None, 1974, '1987-12-24', 'PARLY', 22, 80, 'Sand', 'Georges', 'petit', ' BOURGOGNE-FRANCHE-COMTÉ'),
 (23, 'Pommard', None, 1972, '1988-03-20', 'PARLY', 23, 82, 'Roussel', 'Rene', 'petit', ' BOURGOGNE-FRANCHE-COMTÉ'),
 (4, 'Mercurey', 10.9, 1980, '1981-06-29', 'SENS', 4, 50, 'Lautreamont', None, 'moyen', ' BOURGOGNE-FRANCHE-COMTÉ'),
 (41, 'Clairette de Die', 12, 1976, '1985-12-29', 'SENS', 3, 94, 'Zola', 'Emile', 'moyen', ' BOURGOGNE-FRANCHE-COMTÉ'),
 (42, 'Beaujolais Primeur', 12, 1983, '1985-07-27', 'SENS', 3, 94, 'Zola', 'Emile', 'moyen', ' BOURGOGNE-FRANCHE-COMTÉ'),
 (1, 'Mercurey', 11.5, 1980, '1983-12-31', 'RENNES', 1, 45, 'Giono', 'Jean', 'petit', ' BRETAGNE'),
 (6, 'Mercurey', 11.2, 1981, '1978-01-21', 'NANCY', 36, 3, 'Aron', 'Raymond', 'gros', ' GRAND EST'),
 (100, 'Seyssel', 11, 1974, '1982-11-05', 'NANCY', 11, 40, 'Moliere', None, 'petit', ' GRAND EST'),
 (5, 'Pommard', 11.7, 1976, '1983-06-29', 'LILLE', 5, 52, 'Carroll', 'Lewis', 'petit', ' HAUTS-DE-FRANCE'),
 (8, 'Cotes de Beaune Villages', 12.3, 1975, '1979-11-01', 'LILLE', 10, 9, 'Ajar', 'Emile', 'petit', ' HAUTS-DE-FRANCE'),
 (9, 'Chapelle Chambertin', 11.9, 1973, '1979-05-12', 'LILLE', 1, 10, 'Andersen', 'Yann', 'gros', ' HAUTS-DE-FRANCE'),
 (38, 'Savigny les Beaunes', 11, 1977, '1981-08-06', 'CAEN', 5, 12, 'Bataille', 'Georges', 'moyen', ' NORMANDIE'),
 (38, 'Savigny les Beaunes', 11, 1977, '1981-05-12', 'CAEN', 2, 14, 'Bory', 'Jean Louis', 'gros', ' NORMANDIE'),
 (100, 'Seyssel', 11, 1974, '1983-02-21', 'CAEN', 3, 5, 'Audiberti', 'Jacques', 'petit', ' NORMANDIE'),
 (1, 'Mercurey', 11.5, 1980, '1977-11-02', 'BORDEAUX', 33, 2, 'Artaud', 'Antonin', 'moyen', ' NOUVELLE-AQUITAINE'),
 (10, 'Beaujolais Villages', 11.8, 1979, '1977-12-31', 'BORDEAUX', 10, 3, 'Aron', 'Raymond', 'gros', ' NOUVELLE-AQUITAINE'),
 (4, 'Mercurey', 10.9, 1980, '1982-11-05', 'TOULOUSE', 12, 8, 'Aragon', 'Louis', 'gros', ' OCCITANIE'),
 (12, 'Gentil', 10.7, 1975, '1982-11-05', 'TOULOUSE', 36, 6, 'Arrabal', 'Fernando', 'gros', ' OCCITANIE'),
 (40, 'Richebourg', 12, 1943, '1982-04-01', 'TOULOUSE', 1, 33, 'Flaubert', 'Gustave', 'moyen', ' OCCITANIE'),
 (41, 'Clairette de Die', 12, 1976, '1988-04-01', 'TOULOUSE', 2, 31, 'Dante', None, 'gros', ' OCCITANIE'),
 (7, 'Grands Echezeaux', 11.7, 1968, '1987-04-28', 'CANNES', 7, 58, 'Marivaux', 'Pierre Carlet de Chamblain de', 'gros', " PROVENCE-ALPES-CÔTE D'AZUR"),
 (21, 'Cotes de Nuits', None, 1978, '1987-04-05', 'CANNES', 21, 62, 'Proust', 'Marcel', 'moyen', " PROVENCE-ALPES-CÔTE D'AZUR"),
 (100, 'Seyssel', 11, 1974, '1982-11-04', 'CANNES', 10, 41, 'Gauthier', 'Theophile', 'petit', " PROVENCE-ALPES-CÔTE D'AZUR"),
 (3, 'Savigny les Beaunes', 12.1, 1978, '1978-11-01', 'NICE', 6, 7, 'Anouilh', 'Jean', 'moyen', " PROVENCE-ALPES-CÔTE D'AZUR"),
 (20, 'Cote de Brouilly', 12.1, 1980, '1978-06-12', 'NICE', 20, 61, 'Mallarme', 'Stephane', 'petit', " PROVENCE-ALPES-CÔTE D'AZUR"),
 (40, 'Richebourg', 12, 1943, '1982-03-25', 'NICE', 30, 15, 'Baudelaire', 'Charles', 'petit', " PROVENCE-ALPES-CÔTE D'AZUR"),
 (8, 'Cotes de Beaune Villages', 12.3, 1975, '1980-05-12', 'TOULON', 8, 60, 'Ovide', None, 'gros', " PROVENCE-ALPES-CÔTE D'AZUR"),
 (9, 'Chapelle Chambertin', 11.9, 1973, '1907-04-21', 'TOULON', 9, 61, 'Mallarme', 'Stephane', 'petit', " PROVENCE-ALPES-CÔTE D'AZUR"),
 (24, 'Cotes de Beaune Villages', 12.1, 1971, '1986-06-12', 'LE CHESNAY', 14, 100, 'Woolf', 'Virginia', 'petit', ' ÎLE-DE-FRANCE')]

In [62]:
%%sql SELECT *
FROM Master2
WHERE MILL = 1980
ORDER BY NB
LIMIT 40;

 * sqlite:///wine.db
Done.

[(1, 'Mercurey', 11.5, 1980, '1977-11-02', 'BORDEAUX', 33, 2, 'Artaud', 'Antonin', 'moyen', ' NOUVELLE-AQUITAINE'),
 (4, 'Mercurey', 10.9, 1980, '1982-11-05', 'TOULOUSE', 12, 8, 'Aragon', 'Louis', 'gros', ' OCCITANIE'),
 (1, 'Mercurey', 11.5, 1980, '2015-10-16', 'PARIS', 1, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (4, 'Mercurey', 10.9, 1980, '2015-10-16', 'PARIS', 6, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (16, 'Meursault', 12.1, 1980, '2015-10-16', 'PARIS', 2, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (20, 'Cote de Brouilly', 12.1, 1980, '2015-10-16', 'PARIS', 3, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (26, 'Chateau Corton Grancey', None, 1980, '2015-10-16', 'PARIS', 4, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (28, 'Volnay', 11, 1980, '2015-10-16', 'PARIS', 5, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (43, 'Fleurie', 11.4, 1980, '2015-10-16', 'PARIS', 7, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (74, 'Arbois', 12, 1980, '2015-10-16', 'PARIS', 8, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (78, 'Etoile', 12, 1980, '2015-10-16', 'PARIS', 9, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (79, 'Seyssel', 11, 1980, '2015-10-16', 'PARIS', 10, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (80, 'Seyssel', 11, 1980, '2015-10-16', 'PARIS', 11, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (81, 'Cornas', 11.1, 1980, '2015-10-16', 'PARIS', 12, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (82, 'Cornas', 11, 1980, '2015-10-16', 'PARIS', 13, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (83, 'Saint Amour', 10, 1980, '2015-10-16', 'PARIS', 14, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (84, 'Rasteau', 10, 1980, '2015-10-16', 'PARIS', 15, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (85, 'Tavel', 11, 1980, '2015-10-16', 'PARIS', 16, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (86, 'Tavel', 11, 1980, '2015-10-16', 'PARIS', 17, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (87, 'Cotes de Provence', None, 1980, '2015-10-16', 'PARIS', 18, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (1, 'Mercurey', 11.5, 1980, '1983-12-31', 'RENNES', 1, 45, 'Giono', 'Jean', 'petit', ' BRETAGNE'),
 (4, 'Mercurey', 10.9, 1980, '1981-06-29', 'SENS', 4, 50, 'Lautreamont', None, 'moyen', ' BOURGOGNE-FRANCHE-COMTÉ'),
 (20, 'Cote de Brouilly', 12.1, 1980, '1978-06-12', 'NICE', 20, 61, 'Mallarme', 'Stephane', 'petit', " PROVENCE-ALPES-CÔTE D'AZUR")]

NV, CRU, DEGRE, MILL was already put in another table (wines) from master1.
clients: NB, NOM, PRENOM, TYPE is all about one client, from the client number NB.
sales: NV, DATES, LIEU, QTE, NB would be a third table linking the client, the wine type and the sale.
villes: LIEU, REGION is a fourth table to remove that redundancy

Once you have defined the 2NF or 3NF (as applicable) we need to split the data into new tables.

A table can be created from the result of a query.

In the following example we will create a new table "dummy" to store the different values of alcohol content.

In [19]:
%%sql DROP TABLE IF EXISTS dummy;

-- Create dummy table
CREATE TABLE dummy AS
SELECT DISTINCT DEGRE
FROM MASTER1;

 * sqlite:///wine.db
Done.
Done.

[]

In [20]:
print("\nContent of the database")
printSchema(conn)

Content of the database
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(DATE)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)
clients:
  0: NB(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: TYPE(TEXT)
dummy:
  0: DEGRE(NUM)
producers:
  0: NP(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: REGION(TEXT)
production:
  0: NP(NUM)
  1: NV(NUM)
  2: QTE(NUM)
sales:
  0: NV(NUM)
  1: DATES(NUM)
  2: LIEU(TEXT)
  3: QTE(NUM)
  4: NB(NUM)
villes:
  0: LIEU(TEXT)
  1: REGION(TEXT)
wines:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)

In [21]:
%%sql
SELECT *
FROM dummy;

 * sqlite:///wine.db
Done.

[(None,),
 (11.5,),
 (11.3,),
 (12.1,),
 (10.9,),
 (11.7,),
 (11.2,),
 (12.3,),
 (11.9,),
 (11.8,),
 (10.7,),
 (11.4,),
 (10.5,),
 (11,),
 (11.6,),
 (12,),
 (10,),
 (12.5,),
 (10.8,),
 (14,),
 (11.1,),
 (13,)]

Looking into "dummy", we notice that our query includes NULL. This is not allowed if we were to use DEGRE as key for a table.

To correct this, we need to change the query to explicitly test for NULL as follows:

In [22]:
%%sql DROP TABLE IF EXISTS dummy;

-- Create dummy table
CREATE TABLE dummy AS
SELECT DISTINCT DEGRE
FROM MASTER1
WHERE DEGRE IS NOT NULL;

SELECT *
FROM dummy;

 * sqlite:///wine.db
Done.
Done.
Done.

[(11.5,),
 (11.3,),
 (12.1,),
 (10.9,),
 (11.7,),
 (11.2,),
 (12.3,),
 (11.9,),
 (11.8,),
 (10.7,),
 (11.4,),
 (10.5,),
 (11,),
 (11.6,),
 (12,),
 (10,),
 (12.5,),
 (10.8,),
 (14,),
 (11.1,),
 (13,)]

Notice that we use `NULL` given that `None` is only used for display.

In [23]:
# Remove "dummy" table
%sql DROP TABLE IF EXISTS dummy;

 * sqlite:///wine.db
Done.

[]

#### Exercise 1.3

Create the new tables from Master1:

In [24]:
%%sql DROP TABLE IF EXISTS wines;

-- Create wines table
CREATE TABLE wines AS
SELECT DISTINCT NV, CRU, DEGRE, MILL
FROM MASTER1
WHERE NV IS NOT NULL;

SELECT *
FROM wines LIMIT 10;

 * sqlite:///wine.db
Done.
Done.
Done.

[(1, 'Mercurey', 11.5, 1980),
 (2, 'Julienas', 11.3, 1974),
 (3, 'Savigny les Beaunes', 12.1, 1978),
 (4, 'Mercurey', 10.9, 1980),
 (5, 'Pommard', 11.7, 1976),
 (6, 'Mercurey', 11.2, 1981),
 (7, 'Grands Echezeaux', 11.7, 1968),
 (8, 'Cotes de Beaune Villages', 12.3, 1975),
 (9, 'Chapelle Chambertin', 11.9, 1973),
 (10, 'Beaujolais Villages', 11.8, 1979)]

In [25]:
%%sql DROP TABLE IF EXISTS producers;

-- Create producers table
CREATE TABLE producers AS
SELECT DISTINCT NP, NOM, PRENOM, REGION
FROM MASTER1
WHERE NP IS NOT NULL;

SELECT *
FROM producers LIMIT 10;

 * sqlite:///wine.db
Done.
Done.
Done.

[(3, 'Six', 'Paul', 'Alsace'),
 (6, 'Marmagne', 'Bernard', 'Bourgogne'),
 (8, "Lioger d'Harduy", 'Gabriel', 'Bourgogne'),
 (16, 'Barbin', 'Bernard', 'Bourgogne'),
 (17, 'Faiveley', 'Guy', 'Bourgogne'),
 (18, 'Tramier', 'Jean', 'Bourgogne'),
 (19, 'Dupaquier', 'Roger', 'Bourgogne'),
 (20, 'Lamy', 'Jean', 'Bourgogne'),
 (21, 'Cornu', 'Edmond', 'Bourgogne'),
 (26, 'Violot', 'Gilbert', 'Bourgogne')]

In [26]:
%%sql DROP TABLE IF EXISTS production;

-- Create production table
CREATE TABLE production AS
SELECT DISTINCT NP, NV, QTE
FROM MASTER1
WHERE NP IS NOT NULL AND NV IS NOT NULL;

SELECT *
FROM production LIMIT 10;

 * sqlite:///wine.db
Done.
Done.
Done.

[(1, 1, 300),
 (73, 1, 1),
 (5, 2, 100),
 (1, 3, 400),
 (10, 4, 35),
 (30, 5, 46),
 (42, 6, 300),
 (98, 7, 60),
 (90, 8, 12),
 (98, 10, 100)]

#### Exercise 1.4

Create the new tables from Master2:

In [27]:
%%sql DROP TABLE IF EXISTS clients;

-- Create clients table
CREATE TABLE clients AS
SELECT DISTINCT NB, NOM, PRENOM, TYPE
FROM MASTER2
WHERE NB IS NOT NULL;

SELECT *
FROM clients LIMIT 10;

 * sqlite:///wine.db
Done.
Done.
Done.

[(11, 'Breton', 'Andre', 'petit'),
 (13, 'Barthes', 'Roland', 'moyen'),
 (16, 'Balzac', 'Honore de', 'moyen'),
 (18, 'Celine', 'Louis Ferdinand', 'gros'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen'),
 (21, 'Corbiere', 'Tristan', 'petit'),
 (23, 'Corneille', 'Pierre', 'petit'),
 (25, 'Char', 'Rene', 'petit'),
 (27, 'Dumas', 'Alexandre', 'gros'),
 (29, 'Fournier', 'Alain', 'petit')]

In [28]:
%%sql DROP TABLE IF EXISTS sales;

-- Create sales table
CREATE TABLE sales AS
SELECT DISTINCT NV, DATES, LIEU, QTE, NB
FROM MASTER2
WHERE NV IS NOT NULL AND NB IS NOT NULL;

SELECT *
FROM sales LIMIT 10;

 * sqlite:///wine.db
Done.
Done.
Done.

[(1, '1977-11-02', 'BORDEAUX', 33, 2),
 (1, '2015-10-16', 'PARIS', 1, 44),
 (1, '1983-12-31', 'RENNES', 1, 45),
 (2, '1983-12-25', 'LYON', 2, 48),
 (3, '1978-11-01', 'NICE', 6, 7),
 (3, '1987-12-24', 'MERCUREY', 5, 49),
 (4, '1982-11-05', 'TOULOUSE', 12, 8),
 (4, '2015-10-16', 'PARIS', 6, 44),
 (4, '1981-06-29', 'SENS', 4, 50),
 (5, '1984-11-04', 'MERCUREY', 50, 2)]

In [29]:
%%sql DROP TABLE IF EXISTS villes;

-- Create villes table
CREATE TABLE villes AS
SELECT DISTINCT LIEU, REGION
FROM MASTER2
WHERE LIEU IS NOT NULL;

SELECT *
FROM villes LIMIT 10;

 * sqlite:///wine.db
Done.
Done.
Done.

[('BORDEAUX', ' NOUVELLE-AQUITAINE'),
 ('PARIS', ' ÎLE-DE-FRANCE'),
 ('RENNES', ' BRETAGNE'),
 ('LYON', '  AUVERGNE-RHÔNE-ALPES'),
 ('NICE', " PROVENCE-ALPES-CÔTE D'AZUR"),
 ('MERCUREY', ' BOURGOGNE-FRANCHE-COMTÉ'),
 ('TOULOUSE', ' OCCITANIE'),
 ('SENS', ' BOURGOGNE-FRANCHE-COMTÉ'),
 ('LILLE', ' HAUTS-DE-FRANCE'),
 ('NANCY', ' GRAND EST')]

In [30]:
print("\nContent of the database")
printSchema(conn)

Content of the database
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(DATE)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)
clients:
  0: NB(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: TYPE(TEXT)
producers:
  0: NP(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: REGION(TEXT)
production:
  0: NP(NUM)
  1: NV(NUM)
  2: QTE(NUM)
sales:
  0: NV(NUM)
  1: DATES(NUM)
  2: LIEU(TEXT)
  3: QTE(NUM)
  4: NB(NUM)
villes:
  0: LIEU(TEXT)
  1: REGION(TEXT)
wines:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)

# PART II: SQL QUERIES

In the second part of this TP you will create SQL queries to retrieve information from the database.

**Important:**

- You MUST use the normalized tables created in previous steps.
  - The normalized tables will also be used in TP3.
- Do NOT use **Master1** and **Master2** in your queries.

#### Exercise 2.1

What are the different types of clients (buveurs) by volume of purchases?

In [31]:
%%sql
SELECT DISTINCT type AS Type_of_buveurs FROM clients

 * sqlite:///wine.db
Done.

[('petit',), ('moyen',), ('gros',)]

#### Exercise 2.2

What regions produce Pommard or Brouilly?

In [32]:
%%sql
SELECT CRU, REGION FROM production JOIN wines ON wines.NV=production.NV 
JOIN producers ON producers.NP=production.NP
    WHERE CRU IN ('Pommard', 'Brouilly')

 * sqlite:///wine.db
Done.

[('Pommard', 'Bourgogne'), ('Pommard', 'Rhone'), ('Brouilly', 'Bourgogne')]

#### Exercise 2.3

What regions produce Pommard and Brouilly?

In [33]:
%%sql
SELECT REGION FROM production JOIN wines ON wines.NV=production.NV 
    JOIN producers ON producers.NP=production.NP
    WHERE CRU = 'Pommard'
INTERSECT
SELECT REGION FROM production JOIN wines ON wines.NV=production.NV 
    JOIN producers ON producers.NP=production.NP
    WHERE CRU = 'Brouilly'

 * sqlite:///wine.db
Done.

[('Bourgogne',)]

#### Exercise 2.4

Get the number of wines bought by CRU and Millésime

In [34]:
%%sql
SELECT CRU, MILL, SUM(sales.QTE) AS Number_of_wines_bought FROM sales JOIN wines ON wines.NV=sales.NV GROUP BY CRU,MILL

 * sqlite:///wine.db
Done.

[('Arbois', 1980, 8),
 ('Auxey Duresses', 1914, 80),
 ('Beaujolais Primeur', 1983, 7),
 ('Beaujolais Villages', 1975, 10),
 ('Beaujolais Villages', 1976, 120),
 ('Beaujolais Villages', 1978, 130),
 ('Beaujolais Villages', 1979, 520),
 ('Chapelle Chambertin', 1973, 30),
 ('Chateau Corton Grancey', 1980, 4),
 ('Chenas', 1984, 1),
 ('Clairette de Die', 1976, 5),
 ('Cornas', 1980, 25),
 ('Cote de Brouilly', 1980, 23),
 ('Coteaux du Tricastin', 1974, 1),
 ('Coteaux du Tricastin', 1978, 12),
 ('Cotes de Beaune Villages', 1971, 14),
 ('Cotes de Beaune Villages', 1975, 96),
 ('Cotes de Nuits', 1978, 21),
 ('Cotes de Provence', 1980, 18),
 ('Etoile', 1980, 9),
 ('Fleurie', 1980, 7),
 ('Gentil', 1975, 36),
 ('Gigondas', 1978, 5),
 ('Grands Echezeaux', 1968, 31),
 ('Julienas', 1974, 2),
 ('Mercurey', 1980, 57),
 ('Mercurey', 1981, 36),
 ('Meursault', 1980, 2),
 ('Monthelie', 1968, 106),
 ('Pommard', 1972, 23),
 ('Pommard', 1976, 55),
 ('Pouilly Vinzelles', 1968, 10),
 ('Rasteau', 1980, 15),
 ('Richebourg', 1943, 72),
 ('Saint Amour', 1974, 80),
 ('Saint Amour', 1980, 14),
 ('Savigny les Beaunes', 1974, 44),
 ('Savigny les Beaunes', 1977, 7),
 ('Savigny les Beaunes', 1978, 11),
 ('Seyssel', 1974, 24),
 ('Seyssel', 1980, 21),
 ('Tavel', 1980, 33),
 ('Volnay', 1980, 5)]

#### Exercise 2.5

Retrieve the wine number (NV) of wines produced by more than three producers

In [36]:
%%sql
SELECT DISTINCT NV FROM production GROUP BY NV HAVING COUNT(NP) >=3

 * sqlite:///wine.db
Done.

[(12,),
 (43,),
 (45,),
 (54,),
 (67,),
 (69,),
 (74,),
 (78,),
 (79,),
 (87,),
 (89,),
 (98,)]

#### Exercise 2.6

Which producers have not produced any wine?

In [52]:
%%sql
SELECT DISTINCT pr.NP, NV FROM producers pr LEFT JOIN production pd ON pr.NP=pd.NP  WHERE NV IS NULL ORDER BY pr.NP

 * sqlite:///wine.db
Done.

[(3, None),
 (6, None),
 (8, None),
 (16, None),
 (17, None),
 (18, None),
 (19, None),
 (20, None),
 (21, None),
 (26, None),
 (28, None),
 (29, None),
 (31, None),
 (32, None),
 (33, None),
 (34, None),
 (37, None),
 (39, None),
 (41, None),
 (44, None),
 (47, None),
 (48, None),
 (49, None),
 (51, None),
 (53, None),
 (57, None),
 (58, None),
 (61, None),
 (62, None),
 (66, None),
 (77, None),
 (83, None),
 (91, None),
 (92, None),
 (94, None),
 (96, None),
 (97, None),
 (100, None),
 (101, None),
 (102, None),
 (103, None),
 (104, None),
 (105, None),
 (106, None),
 (108, None),
 (109, None),
 (110, None),
 (111, None),
 (112, None),
 (113, None),
 (114, None),
 (115, None),
 (116, None),
 (117, None),
 (118, None),
 (119, None),
 (121, None),
 (122, None),
 (123, None),
 (124, None),
 (125, None),
 (126, None),
 (127, None),
 (129, None)]

#### Exercise 2.7

What clients (buveurs) have bought at least one wine from 1980?

In [64]:
%%sql
SELECT DISTINCT clients.NB FROM sales JOIN clients ON sales.NB = clients.NB JOIN wines ON sales.NV = wines.NV 
WHERE MILL = 1980 ORDER BY clients.NB

 * sqlite:///wine.db
Done.

[(2,), (8,), (44,), (45,), (50,), (61,)]

#### Exercise 2.8

What clients (buveurs) have NOT bought any wine from 1980?

In [65]:
%%sql
SELECT DISTINCT clients.NB FROM clients WHERE clients.NB NOT IN 
(SELECT DISTINCT clients.NB FROM sales JOIN clients ON sales.NB = clients.NB JOIN wines ON sales.NV = sales.NV 
WHERE MILL = 1980 ORDER BY clients.NB)

 * sqlite:///wine.db
Done.

[(11,),
 (13,),
 (16,),
 (18,),
 (20,),
 (21,),
 (23,),
 (25,),
 (27,),
 (29,),
 (32,),
 (34,),
 (35,),
 (36,),
 (37,),
 (39,),
 (42,),
 (43,),
 (46,),
 (47,),
 (51,),
 (53,),
 (54,),
 (55,),
 (56,),
 (57,),
 (59,),
 (63,),
 (64,),
 (65,),
 (66,),
 (67,),
 (68,),
 (69,),
 (70,),
 (71,),
 (72,),
 (73,),
 (74,),
 (76,),
 (77,),
 (78,),
 (79,),
 (81,),
 (83,),
 (84,),
 (85,),
 (86,),
 (87,),
 (88,),
 (89,),
 (90,),
 (91,),
 (93,),
 (95,),
 (98,),
 (99,)]

#### Exercise 2.9

What clients (buveurs) have bought ONLY wines from 1980?

In [66]:
%%sql
SELECT DISTINCT sales.NB FROM sales WHERE sales.NB IN 
(SELECT DISTINCT clients.NB FROM sales JOIN clients ON sales.NB = clients.NB JOIN wines ON sales.NV = wines.NV 
WHERE MILL = 1980 ORDER BY clients.NB) GROUP BY sales.NB HAVING count(sales.NB) = 1

 * sqlite:///wine.db
Done.

[(45,), (50,)]

#### Exercise 2.10

List all wines from 1980

In [68]:
%%sql
SELECT * FROM WINES WHERE MILL = 1980

 * sqlite:///wine.db
Done.

[(1, 'Mercurey', 11.5, 1980),
 (4, 'Mercurey', 10.9, 1980),
 (16, 'Meursault', 12.1, 1980),
 (20, 'Cote de Brouilly', 12.1, 1980),
 (26, 'Chateau Corton Grancey', None, 1980),
 (28, 'Volnay', 11, 1980),
 (43, 'Fleurie', 11.4, 1980),
 (74, 'Arbois', 12, 1980),
 (78, 'Etoile', 12, 1980),
 (79, 'Seyssel', 11, 1980),
 (80, 'Seyssel', 11, 1980),
 (81, 'Cornas', 11.1, 1980),
 (82, 'Cornas', 11, 1980),
 (83, 'Saint Amour', 10, 1980),
 (84, 'Rasteau', 10, 1980),
 (85, 'Tavel', 11, 1980),
 (86, 'Tavel', 11, 1980),
 (87, 'Cotes de Provence', None, 1980)]

#### Exercise 2.11

What are the wines from 1980 bought by NB=2?

In [75]:
%%sql
SELECT DISTINCT sales.NV FROM sales JOIN wines ON sales.NV = wines.NV 
WHERE MILL = 1980 AND NB=2

 * sqlite:///wine.db
Done.

[(1,)]

#### Exercise 2.12

What clients (buveurs) have bought ALL the wines from 1980?

In [89]:
%%sql
SELECT sales.NB, COUNT(sales.NB) FROM sales JOIN wines ON sales.NV = wines.NV 
WHERE MILL = 1980 AND NB IN (SELECT DISTINCT clients.NB FROM sales JOIN clients ON sales.NB = clients.NB JOIN wines ON sales.NV = wines.NV 
WHERE MILL = 1980 ORDER BY clients.NB) GROUP BY sales.NB HAVING COUNT(sales.NB) = (SELECT COUNT(NV) FROM WINES WHERE MILL = 1980)

 * sqlite:///wine.db
Done.

[(44, 18)]

In [98]:
%%sql
SELECT DISTINCT B.NB FROM sales B JOIN wines ON B.NV = wines.NV 
WHERE NOT EXISTS (SELECT V.NV FROM sales V JOIN wines ON V.NV = wines.NV 
    WHERE MILL = 1980 AND NOT EXISTS (SELECT S.NB FROM sales S WHERE S.NB = B.NB AND S.NV = V.NV))

 * sqlite:///wine.db
Done.

[(44,)]